Michael Nitschinger <michael.nitschinger@couchbase.com> Michael Nitschinger <michael@nitschinger.at>
Matt Ingenthron <ingenthr@cep.net>
Mike Wiederhold <mike@couchbase.com> Mike Wiederhold <mikewied@comcast.net>
Raghavan Srinivas <rags@acm.org>
Deepti Dawar <deepti.dawar@globallogic.com> deeptida <deepti.dawar@globallogic.com>
Tugdual Grall <tugdual@gmail.com> tgrall <tugdual@gmail.com>
Sergey Avseyev <sergey.avseyev@gmail.com>
