<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- set level to trace for packet-level output -->
    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>